{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:playwright/playwright-test" // Experimental for now.
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off"
  }
}
